.btn-file , .btn-file1 , .btn-file2 , .btn-file3 , .btn-file4 {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] , .btn-file1 input[type=file] , .btn-file2 input[type=file] , .btn-file3 input[type=file] , .btn-file4 input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

#img-upload1 , #img-upload2 , #img-upload3 , #img-upload4 , #img-upload5 {
	width: 100%;
}

#map {
	height: 400px;
	position: relative;
	overflow: hidden;
	top: 8px;
	margin-right: 28px;
	margin-top: 30px;
	border: 5px solid #eaeaea;
}

.information-bloc img {
	width: 100%
}

.information-bloc {
	width: 100%;
	position: relative;
	z-index: 50;
}

.flexslider .slides li {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.flexslider .slides img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.slides li {
	position: relative;
}

.flex-direction-nav a {
	height: 50px ! important;
}

.flexslider .slides {
}

.flexslider {
}

.title-contact {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.flexslider .slides li {
	padding-left: 0px;
	padding-right: 0px;
}

.description_block {
	width: 100%;
	position: absolute;
	height: 100%;
	top: 0;
	opacity: 1;
	z-index: 9;
}

.description_block p {
	color: #fff;
	font-size: 19px;
}

.filtre_block {
	position: absolute;
	top: 83%;
	left: 51%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 11;
}

.filtre_block a {
	text-decoration: none;
}

.flexslider .flex-direction-nav a {
	overflow: inherit;
}

.flexslider .flex-control-nav {
	bottom: 0;
}

.flexslider .btn-other {
	background-color: #E3283A;
	color: #fff;
	display: inline-block;
	padding: 8px 30px;
	font-size: 14px;
	text-align: center;
	border: none;
	box-shadow: 0px 1px 1px 1px rgba(167, 14, 14, 0.92), 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.9);
}

.flexslider .btn-other:hover {
	background-color: #ff0e26;
}

.btn-primary {
	background-color: #00a699;
	border-color: #087d74;
}



