.o_kanban_view.o_kanban_dashboard.o_project_kanban {

    .o_kanban_record {
        .o-flex-display();
        position: relative;
    }
	
    .o_unit_kanban_main {
    	margin-bottom:0;
    	padding: 0px ;
        .o-flex(0, 0, auto);
        width: 70%; // for IE11 overflow issue

        // give space for manage section at the bottom

        .o_kanban_card_content {
            font-size: 12px;
            .o_primary {
                font-size: larger;
                
            }
            .o_larger{
            	font-size: 18px;
                font-weight:bold;
             }
        }
		.o_kanban_primary_left{
		padding:16px;
		padding-bottom:0px;
		}
        .o_project_kanban_manage {
            .o_left {
                .o-position-absolute(@bottom: 0, @left: 0);
                padding: @odoo-horizontal-padding/2 @odoo-horizontal-padding;
            }
            .o_right {
                .o-position-absolute(@bottom: 0, @right: 30%);
                padding: @odoo-horizontal-padding/2 @odoo-horizontal-padding;
            }
            .o_kanban_manage_toggle_button:not(:hover) {
                color: @odoo-main-text-color;
            }
        }
        .o_kanban_card_manage_pane .o_kanban_card_manage_title {
            margin: 0;
        }
    }

    .o_dashboard_star {
            font-size: 16px;

            &.fa-star-o {
                color: @odoo-main-color-muted;
                &:hover {
                    color: gold;
                }
            }
            &.fa-star {
                color: gold;
            }
        }

    .o_project_kanban_boxes {
        width: 30%;
        .o-flex(0, 0, auto);

        .o-flex-display();
        .o-flex-flow(column, nowrap);

        > a:hover {
            text-decoration: none;
        }

        .o_value {
            font-size: x-large;
            color: white;
            display: block;
        }
        .o_label {
            color: white;
        }
        .o_needaction{
            position: absolute;
            top: 5px;
            right: 5px;
            color: white;
            font-size: small;
            opacity: 0.5;
            &:hover{
                opacity:1;
            }
            &::before {
                content: "\f086";
                font: normal normal normal 14px/1 FontAwesome;
            }
        }

        .o_project_kanban_box {
            position: relative;
            text-align: center;
            padding: 0 0 0 0;
            .o-flex(1, 1, auto);
            .o-flex-display();
            .o-flex-flow(column, nowrap);
            .o-justify-content(center);
        }
        .o_project_kanban_box:nth-child(even) {
            background-color: grey;
        }
        .o_project_kanban_box:nth-child(odd) {
            background-color: @odoo-brand-optional;
        }
    }
}

.o_kanban_task_cover_image {
    .o-columns(200px, 4);
    > img {
        cursor: pointer;
        margin-bottom: 1em;
        border: 1px solid transparent;

        &.o_selected {
            border-color: @odoo-brand-secondary;
            box-shadow: 0px 0px 2px 2px @odoo-brand-secondary;
        }
    }
}
.units_button{
	color: #7C7BAD;
    padding: 10px 47px;
    height: inherit;
    background-color: inherit;
    background-image: none;
    margin-right: 5px;
    margin-bottom: 5px;
    
}
.o_unit_detail_kanban_main{
	height:150px;
	width: 100%;
    padding: 10px 16px;
        .o_kanban_card_content {
            font-size: 12px;
            .o_primary {
                font-size: larger;
                
            }
            .o_larger{
            	font-size: 18px;
                font-weight:bold;
             }
        }
}
.hide{
	display:none;
}
input.o_form_input.web_map.o_form_field,span.web_map.o_form_field {
    width: 10px;
    visibility:hidden;
}
#map{
	height: 500px;
	border: 7px solid #515081;
	padding: 5px 20px;
}
.o_kanban_view.o_kanban_ungrouped .oe_kanban_global_click.col-xs-3.o_kanban_record.images{
	flex:none;
	min-width:10px;
	margin: 0;

}
input[type="text"].o_form_input.check_number.col-xs-3{
	width: 25%;
    float: none;
}
input.o_form_input.amenitie_int.o_form_field.o_form_field_number {
    width: inherit;
}



.form-control {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0) ! important;
	border-radius: 0px ! important;
}

.login-2-form .form-group {
	margin-right: 14px ! important;
}

.login-2-form label {
	font-weight: 500 ! important;
}

.mb-80 p {
	text-align: center
}

.btn-select {
	position: relative;
	padding: 0;
	min-width: 236px;
	width: 100%;
	border-radius: 0;
	margin-bottom: 20px;
}

.btn-select .btn-select-value {
	padding: 0px 12px;
	color: #c1c1c1;
	display: block;
	position: absolute;
	left: 0;
	right: 34px;
	text-align: right;
	text-overflow: ellipsis;
	overflow: hidden;
	border-top: none ! important;
	border-bottom: none ! important;
	border-left: none ! important;
}

.btn-select .btn-select-arrow {
	float: right;
	line-height: 20px;
	padding: 6px 10px;
	top: 0;
}

.btn-select ul {
	display: none;
	background-color: white;
	color: black;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
	border-top: none ! important;
	position: absolute;
	left: -1px;
	right: -1px;
	top: 33px;
	z-index: 999;
}

.btn-select ul li {
	padding: 3px 6px;
	text-align: left;
}

.btn-select ul li:hover {
	background-color: #f4f4f4;
}

.btn-select ul li.selected {
	color: white;
}

.btn-upload-title {
	color: #FFF;
	position: absolute;
	top: 0;
	font-size: 13px;
	text-align: center;
	padding: 11px;
	font-family: inherit ! important;
}
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
      border: 1px solid #2aa1c0;
    background: #fff;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
      top: 3px;
    width: 5px;
    height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}
