/*
* ----------------------------------------------------------------------------------------
* HOMEPAGE SLIDER BACKGROUND CSS STYLE
* ----------------------------------------------------------------------------------------
*/
#slider-main {
	height: 600px;
}

.welcome-area , .welcome-slider-area , .welcome-slider-area div {
	height: 100%;
}

.welcome-slider-area div.single-slide-item-tablecell , .welcome-slider-area div.single-slide-item-tablecell div {
	height: auto;
}

.single-slide-item-table {
	display: table;
	width: 100%;
}

.single-slide-item-tablecell {
	display: table-cell;
	vertical-align: middle;
}

.single-slide-item {
	position: relative;
	z-index: 1;
}

.single-slide-item:after {
	position: absolute;
	background: rgba(0, 0, 0, .5);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -1;
}

.slide-1 {
	background: url(/malfa/static/src/img/testi-bg.jpg) scroll 0 0;
	background-size: cover;
}

.slide-2 {
	background: url(/malfa/static/src/img/mainbg.jpg) scroll 0 0;
	background-size: cover;
}

.slide-3 {
	background: url(/malfa/static/src/img/12.jpg) scroll 0 0;
	background-size: cover;
}

.carousel-fade .carousel-inner .item {
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.carousel-fade .carousel-inner .item , .carousel-fade .carousel-inner .active.left , .carousel-fade .carousel-inner .active.right {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

.carousel-fade .carousel-inner .active , .carousel-fade .carousel-inner .next.left , .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

.carousel-fade .carousel-inner .next , .carousel-fade .carousel-inner .prev , .carousel-fade .carousel-inner .active.left , .carousel-fade .carousel-inner .active.right {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-inner .item {
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.carousel-fade .carousel-inner .item , .carousel-fade .carousel-inner .active.left , .carousel-fade .carousel-inner .active.right {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.carousel-fade .carousel-inner .active , .carousel-fade .carousel-inner .next.left , .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.carousel-fade .carousel-inner .next , .carousel-fade .carousel-inner .prev , .carousel-fade .carousel-inner .active.left , .carousel-fade .carousel-inner .active.right {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
	z-index: 2;
}
.btn-f{
	    padding: 6px 64px !important;
	        margin-right: -7px;
    margin-left: 20px;
}
.right.slider-control {
	left: auto;
	right: -52px;
}
.navbar-default{
	    background-color: #ffffff !important;
}

.left.slider-control {
	left: -52px;
}
.items-menu{
	    margin: 15px;
    left: 30px;
    position: relative;
    font-size: 18px;
}
.welcome-slider-area:hover .right.slider-control {
	right: 30px;
	transition: .25s;
	-webkit-transition: .25s
}

.welcome-slider-area:hover .left.slider-control {
	left: 30px;
	transition: .25s;
	-webkit-transition: .25s
}

.slider-control {
	background: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #82B440;
	font-size: 24px;
	width: 40px;
	height: 40px;
	left: 0;
	line-height: 40px;
	position: absolute;
	text-align: center;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 20;
}

.slider-control:hover {
	background: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
	color: #82B440;
}

.carousel-indicators li {
	width: 30px;
	height: 4px;
	border-radius: 4px;
	margin: 0;
	background: #82B440;
	border: none;
	-webkit-transition: .3s;
	transition: .3s;
}

.carousel-indicators li.active {
	width: 30px;
	height: 4px;
	border-radius: 4px;
	border: none;
	-webkit-transition: .3s;
	transition: .3s;
}

a.slide-btn {
	margin: 0px 5px;
	display: inline-block;
	color: #fff;
	padding: 12px 25px;
	text-transform: capitalize;
	font-size: 14px;
	border: 1px solid #82B440;
	background-color: #82B440;
	font-weight: 600;
	letter-spacing: 1px;
}

a.slide-btn:hover {
	background: transparent;
	color: #fff;
	border: 1px solid #82B440;
	-webkit-transition: .3s;
	transition: .3s;
}

a.slide-btn.other-btn {
	background: transparent;
}

a.slide-btn.other-btn:hover {
	background: #82B440;
}

.header-text {
	margin-top: 60px;
}

.header-text h2 {
	color: #fff;
	font-size: 60px;
	margin-top: 10px;
	font-weight: 900;
	text-transform: capitalize;
}

.header-text p {
	color: #fff;
	font-size: 14px;
	margin: 0;
	margin-bottom: 30px;
	padding: 0px 300px;
}

.myProgress {
    background-color: #eee;
    position: fixed;
    width: 100%;
    z-index: 999999;
    top: 55px;
    left: 0;
}


#page_add_resort .Bar {
	width: 20%;
	height: 10px;
	background-color: #82B440;
}
#page_add_unit .Bar {
	width: 40%;
	height: 10px;
	background-color: #82B440;
}
#page_add_amenition .Bar {
	width: 60%;
	height: 10px;
	background-color: #82B440;
}
#page_add_image .Bar {
	width: 80%;
	height: 10px;
	background-color: #82B440;
}
.prices .form-control{
	       width: 183px;
	           padding: 2px 35px;
    padding-right: 0;
}


#page_add_price .Bar {
	width: 100%;
	height: 10px;
	background-color: #82B440;
}
.login-2-form .btn.point_map {
	border-radius: 0px;
	color: #fff;
	padding: 8px 22px;
	text-transform: capitalize;
	font-size: 14px;
	border: 1px solid #82B440;
	background-color: #82B440;
	font-weight: 600;
	letter-spacing: 1px;
}

.login-2-form .btn.share_location {
	border-radius: 0px;
	color: #fff;
	padding: 8px 22px;
	text-transform: capitalize;
	font-size: 14px;
	border: 1px solid #82B440;
	background-color: #869e65;
	font-weight: 600;
	letter-spacing: 1px;
}

.share_location .fa , .point_map .fa {
	margin-right: 13px;
	font-size: 20px;
}

button#submit {
    float: right;
    border: transparent;
    top: 46px;
    /* right: -24px; */
    margin-bottom: 45px;
    position: relative;
    border-radius: 0px;
    color: #869e65;
    padding: 8px 22px;
    text-transform: capitalize;
    font-size: 14px;
    background-color: transparent;
    font-weight: 600;
    letter-spacing: 1px;
    /* width: 179px; */
    font-size: 17px;
    font-weight: 300;
}

.succ-sl{
	margin-top: 16%;
}
#submit .fa {
	margin-left: 13px;
}

.right-side {
	background: #fafafa;
    height: 415px;
	    position: fixed;
    right: 0;
    z-index: 999;
    top:10%
}

.bg-infos {
    margin-top: 53px;
}

.box {
	float: left;
	padding: 22px;
	margin: 15px;
	box-shadow: 0px 1px 1px 1px #f0f0f0;
	background: #FFF;
	border: 1px solid #e4e4e4;
	max-width: 301px;
}

.box .center-block {
	text-align: center;
	font-size: 33px;
	color: #c5c1c1;
	margin-top: -11px;
}

.box p {
	font-size: 16px;
	line-height: 150%;
	color: #767676;
}

.containers .oe_cart {
padding: 0px 0px 0px 205px;
    background-color: #FFF;
    margin-top: 47px;
    padding-bottom: 95px;
}


.containers .resort input.form-control,.containers .resort select.form-control,.containers .pricing input.form-control{
	    width: 100%;
}
.containers input.form-control,.containers select.form-control{
	    width: 58%;
	        height: 43px;
	        font-size: 18px
}
.rows.resort .col-md-6 {
    padding-left: 0;
    padding-right: 0;
}
.map-left {
    padding-right: 15px;
}
header .containers .navbar-header{
	position: relative;
    border-right: 1px solid #dce0e0;
    top: -13px;

}

header .containers a.navbar-brand.logo {
    padding: 0px 19px !important;
}

#wrapwrap{
	background-color: #fafafa;
}
.dropzone{
  text-align:center;
  font-size:18px;
}
.glyphicon-download{
  font-size:1.5em;
}
.upload-btn .btn-file{
	padding: 43px 36px !important;
}

@media only screen and (max-width: 992px) {
	.containers .oe_cart {
		padding: 0;
	}
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
	.project-idea h2 , .project-idea p {
		font-size: 22px;
	}

	.single-project-complete {
		margin-top: 30px;
	}

	.about-text {
		margin-top: 50px;
	}

	.section-title p {
		padding: 0;
	}

	.contact-icon {
		float: none;
	}

	.header-text p , .single-testi-des {
		padding: 0;
	}

	.call-to-action-small-button {
		text-align: left;
		margin-top: 25px;
	}
}

@media only screen and (max-width: 767px) {
	.welcome-image-area h2 , .single-slide-item h2 , .welcome-video-area h2 , .about-text h2 , .call-to-area-text h2 {
		font-size: 24px;
	}
.items-menu{
	font-size:12px;
}
.containers .oe_cart {

    margin-top: 98px;}
	a.slide-btn {
		font-size: 12px;
		padding: 10px;
		margin-bottom: 5px;
	}

	.single-project-complete {
		margin-top: 30px;
		text-align: center;
	}

	.header-text {
		margin-top: 10px;
	}

	.margin-top-c {
		margin-top: 0px;
	}

	.section-title p {
		padding: 0;
	}

	.section-title h2::before {
		top: 40px;
	}

	.single-contact-details {
		margin-bottom: 30px;
	}

	.item .grid figure , .gallery .grid figure {
		min-width: 100%;
	}

	.header-text p , .single-testi-des {
		padding: 0;
	}

	.call-to-action-small-button {
		text-align: left;
		margin-top: 25px;
	}
}

.form-control {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0) ! important;
	border-radius: 0px ! important;
}

.login-2-form .form-group {
	margin-right: 14px ! important;
}

.login-2-form label {
	font-weight: 500 ! important;
}

.mb-80 p {
	text-align: center
}

.btn-select {
	position: relative;
	padding: 0;
	min-width: 236px;
	width: 100%;
	border-radius: 0;
	margin-bottom: 20px;
}

.btn-select .btn-select-value {
	padding: 0px 12px;
	color: #c1c1c1;
	display: block;
	position: absolute;
	left: 0;
	right: 34px;
	text-align: right;
	text-overflow: ellipsis;
	overflow: hidden;
	border-top: none ! important;
	border-bottom: none ! important;
	border-left: none ! important;
}

.btn-select .btn-select-arrow {
	float: right;
	line-height: 20px;
	padding: 6px 10px;
	top: 0;
}

.btn-select ul {
	display: none;
	background-color: white;
	color: black;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
	border-top: none ! important;
	position: absolute;
	left: -1px;
	right: -1px;
	top: 33px;
	z-index: 999;
}

.btn-select ul li {
	padding: 3px 6px;
	text-align: left;
}

.btn-select ul li:hover {
	background-color: #f4f4f4;
}

.btn-select ul li.selected {
	color: white;
}

.btn-upload-title {
	color: #FFF;
	position: absolute;
	top: 0;
	font-size: 13px;
	text-align: center;
	padding: 11px;
	font-family: inherit ! important;
}
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
      border: 1px solid #2aa1c0;
    background: #fff;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
      top: 3px;
    width: 5px;
    height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}

.dropzone.dz-clickable{
	margin-right: 45px;
}
.dropzone.dz-clickable .dz-preview .dz-image{
	border-radius: 0;
	width: 90px;
    height: 120px;
}
.dropzone.dz-clickable .dz-preview .dz-remove:hover{
	text-decoration: none;
}
.containers h2{
	color: #484848;
    font-size: 26px;
    font-weight: 600;
}
